@import url("reset.css");

body {
  font-family: Georgia, serif;
}

#only {
  margin-top: 40px;
}

#box {
	width: 340px;
	padding-right: 120px;
	padding-left: 120px;
	margin-left: auto;
	margin-right: auto;
}

#impressum {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: .8em;
	color: black;
	text-align: center;
	width: 481px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	border-top-style: dotted;
	border-top-width: 1px;
}

#badges {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: .8em;
	color: black;
	text-align: center;
	width: 481px;
	margin: 20px auto 20px auto;
  vertical-align: middle;
}

#badges a {
  display: inline-block;
  vertical-align: middle;
}

#bagdes img {
  vertical-align: middle;
}

quote {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  display: block;
}

quote:before {
	content: '„';
	color: #eee;
	font-size: 2em;
	font-weight: bold;
}

quote:after {
	content: '“';
	color: #eee;
	font-size: 2em;
	position: relative;
	right: 0.3em;
	top: 0.2em;
	font-weight: bold;
}

h1 {
  text-align: center;
}

h2 {
	margin: 2em 0 1em;
	font-size: 1.5em;
	text-align: center;
}

a:link {
  color: #00a9eb;
  text-decoration: none;
}

a:visited {
  color: #0d6ca3;
}

a:hover {
  text-decoration: underline;
}

p {
	margin: 3em 0 1em;
	text-align: center;
}

li {
	list-style-type: circle;
	margin-left: 1.2em;
  clear: right;
}

.tech {
  font-size: .8em;
  float: right;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
